<!DOCTYPE html>
<!-- custom -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="css/public_settings.css">
    <style>
        :root{
            --bs-main-bg: #A4D792;
            --bs-sub-bg:#64cb3f;
            --bs-light-black:#6c757d;
        }
        .text-color{color:var(--bs-main-bg)!important;}
        .text-color:hover{color:var(--bs-sub-bg)!important;}
        .text-color2{color:var(--bs-light-black)!important;}
        .text-color2:hover{color:var(--bs-sub-bg)!important;}
        .noneline {text-decoration: none;}
    </style>
</head>


<body class="d-flex flex-column min-vh-100">
    <div th:insert="~{header :: commonFragment}"></div>
    <!-- Navigation-->
    <div th:insert="~{header :: navFragment}"></div>

<section class="page-section public-settings" id="services">
    <div class="container" style="margin-bottom: 60px;">

        <!-- For demo purpose -->
        <div class="row py-5">
            <div class="col-lg-9 mx-auto text-white text-center" style="margin-left: 300px;">
                <h1 class="display-4 fw-bold" style="color: var(--bs-main-bg);">티를 최대한 즐기는 방법</h1>
            </div>
        </div>

        <div th:if="${#lists.isEmpty(enjoyData)}">
            <p>데이터가 없습니다.</p>
        </div>
        <div th:unless="${#lists.isEmpty(enjoyData)}">
            <div class="container w-75 p-3" th:each="enjoyItem : ${enjoyData}">
                <hr>
                <div class="container p-2">
                    <div class="row">
                        <div class="col-lg-6">
                            <a th:href="@{/china(recipeType = ${enjoyItem.enjoy_type})}" th:text="${enjoyItem.enjoy_type}" class="mb-3 h1 text-color fw-bold noneline">티이름</a><br>
                            <span th:text="${enjoyItem.enjoy_content}">설명</span>
                        </div>
                        <div class="col-lg-6">
                            <table class="table table-bordered">
                                <tr>
                                    <th class="align-middle" colspan="2">준비요건</th>
                                </tr>
                                <tr>
                                    <th scope="col">사용티</th>
                                    <th scope="col" th:text="${enjoyItem.enjoy_used}">내용</th>
                                </tr>
                                <tr>
                                    <th scope="col">분량</th>
                                    <th scope="col" th:text="${enjoyItem.enjoy_amount}">내용</th>
                                </tr>
                                <tr>
                                    <th scope="col">수온</th>
                                    <th scope="col" th:text="${enjoyItem.enjoy_temperature}">내용</th>
                                </tr>
                                <tr>
                                    <th scope="col">우리기</th>
                                    <th scope="col" th:text="${enjoyItem.enjoy_teatime}">내용</th>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="card-group row">
                        <div class="card text-center col-12 col-lg-4">
                            <img th:src="'/img/'+${enjoyItem.enjoy_water_img}+'.jpg'" alt="찻물 이미지입니다."
                                 class="bd-placeholder-img rounded-circle p-2 mx-auto d-block" width="200" height="200">
                            <div class="card-body">
                                <h5 class="card-title">찻물</h5>
                                <p class="card-text" th:text="${enjoyItem.enjoy_water}"></p>
                            </div>
                        </div>
                        <div class="card text-center col-12 col-lg-4">
                            <img th:src="'/img/'+${enjoyItem.enjoy_dryleaf_img}+'.jpg'" alt="건조찻잎 이미지입니다."
                                 class="bd-placeholder-img rounded-circle p-2 mx-auto d-block" width="200" height="200">
                            <div class="card-body">
                                <h5 class="card-title">건조 찻잎</h5>
                                <p class="card-text" th:text="${enjoyItem.enjoy_dryleaf}"></p>
                            </div>
                        </div>
                        <div class="card text-center col-12 col-lg-4">
                            <img th:src="'/img/'+${enjoyItem.enjoy_wetleaf_img}+'.jpg'" alt="우린찻잎 이미지입니다."
                                 class="bd-placeholder-img rounded-circle p-2 mx-auto d-block" width="200" height="200">
                            <div class="card-body">
                                <h5 class="card-title">우린 찻잎</h5>
                                <p class="card-text" th:text="${enjoyItem.enjoy_wetleaf}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<div th:insert="~{footer :: footerFragment}"></div>

<!--스크립트 로딩-->
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/main_scripts.js"></script>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

</html>
