<!DOCTYPE html>
<!-- custom -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">


<!-- Footer-->
<footer class="footer mt-auto paddings bg-light settings-non-fix" th:fragment="footerFragment">
    <head>
        <meta charset="UTF-8">

        <style>
            .settings{
                width: 100%;
            }
            .paddings{
                padding-left: 5px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .settings-non-fix{
                right: 0;
                left: 0;
                bottom: 0;
                z-index: 1;
            }
        </style>
    </head>
    <div class="container settings">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">Copyright &copy; MUKISA 2023</div>
            <p class="mb-1">이 프로젝트는 학업용 과제로 제작되었습니다.</p>
            <p class="mb-1">© 2023 연성대학교 컴퓨터소프트웨어과</p>
        </div>
    </div>

</footer>

</body>
</html>