<!DOCTYPE html>
<!-- custom -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- Footer-->
<footer class=" footer py-5 mt-auto paddings bg-light settings-non-fix" th:fragment="footerFragment">
    <body class="d-flex flex-column min-vh-100">
    <head>
        <meta charset="UTF-8">

        <style>
            .settings{
                width: 100%;
            }
            .paddings{
                padding-left: 5px;
                padding-top: 10px;

            }
            .settings-non-fix{
                right: 0;
                left: 0;
                bottom: 0;
                z-index: 1;
            }
        </style>
    </head>
    <div class="container settings">
        <div class="row align-items-center text-center">
            <div class="col-lg-3 text-lg-start">Copyright &copy; MUKISA 2023
            <p class="mb-1">이 프로젝트는 학업용 과제로 제작되었습니다.</p>
            <p class="mb-1">© 2023 연성대학교 컴퓨터소프트웨어과</p>
            </div>

            <div class="col-lg-3 text-lg-start ">
                <p class="mb-1">티이야기</p>
                <a class="noneline text-dark" href="/world"><p class="mb-1">세계의 티</p></a>
                <a class="noneline text-dark" href="/efficacy"><p class="mb-1">티의 효능</p></a>
                <a class="noneline text-dark" href="/enjoy"><p class="mb-1">즐기는 법</p></a>
                <a class="noneline text-dark" href="/dictionary"><p class="mb-1">용어 설명</p></a>
            </div>

            <div class="col-lg-3 text-lg-start ">
                <a class="noneline text-dark" href="/medicine"> <p class="mb-1">약차</p></a>
                <a class="noneline text-dark" href="/china"><p class="mb-1">중국차</p></a>
                <a class="noneline text-dark" href="/recipe"> <p class="mb-1">응용 레시피</p></a>

            </div>
            <div class="col-lg-3 text-lg-start ">
                <p class="mb-1">공지사항</p>
                <p class="mb-1">커뮤니티</p>
                <p class="mb-1">로그인</p>
                <p class="mb-1">회원가입</p>

            </div>
        </div>
    </div>

    </body>
</footer>

</html>