<!DOCTYPE html>
<!-- custom -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="commonFragment">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <!-- custom -->
    <title>Are you tea?</title>

    <!-- Favicon-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- custom --><script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/main_style.css?after}">-->

<!--    폰트-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">

    <style>
    nav {
        font-family: 'Noto Sans KR', sans-serif;

    }

    .navbar-brand,
    .navbar-nav .nav-link {
        font-weight: bold;

    }
    .nav-item{
      padding-left: 15px; /* 왼쪽 패딩 */
      padding-right: 15px; /* 오른쪽 패딩 */

    }
    .navbar-brand{
    margin:10px;

    }

    .important-color{  color: #A4D792 !important;}


</style>
</head>
<body >


<nav class="navbar navbar-light   navbar-expand-md" aria-label="First navbar example" th:fragment="navFragment">
    <div class="container-fluid">
        <a class="navbar-brand important-color" href="/" >너 Tea야?</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample01">
            <ul class="navbar-nav ms-auto mb-2">
                <li class="nav-item">
                    <a class="nav-link important-color"  href="/">약차</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link important-color " href="/">중국차</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle important-color" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">티</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown01">
                        <li class="nav-item "><a class="nav-link important-color" href="/world">세계의 티</a></li>
                        <li class="nav-item "><a class="nav-link important-color" href="/efficacy">티의 효능</a></li>
                        <li class="nav-item "><a class="nav-link important-color" href="/enjoy">즐기는 법</a></li>
                        <li class="nav-item "><a class="nav-link important-color" href="/dictionary">용어</a></li>
                        <li class="nav-item "><a class="nav-link important-color" href="/recipe">레시피</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link important-color" href="/community">커뮤니티</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link important-color" href="/community">공지사항</a>
                </li>
                <li th:unless="${member != null}" class="nav-item pl-4 "><a class="nav-link important-color" href="/login">로그인</a></li>
                <li th:if="${member != null}" class="nav-item pl-4 important-color"><a class="nav-link" href="/logout">로그아웃</a></li>

            </ul>
            <form class="d-flex">
                <input class="form-control important-color" type="text" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>
</nav>


</body>
</html>