<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login_signup_style.css?after}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function resetForm() {
            document.getElementById('loginForm').reset();
        }
        function validateInput() {
            var id = document.getElementById('mbId').value;
            var pw = document.getElementById('mbPw').value;
            var idRegex = /^[a-z0-9_-]{5,20}$/;
            var pwRegex = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~\\]).{8,16}$/;
            var spaceRegex = /\s/;
            var sameCharRegex = /(.)\1\1\1\1/;
            if (!idRegex.test(id)) {
                alert('사용할 수 없는 아이디 입니다. 다른 아이디를 입력해주세요.');
                return false;
            }
            if (spaceRegex.test(pw) || sameCharRegex.test(pw) || !pwRegex.test(pw)) {
                alert('비밀번호 양식이 틀립니다. \n\n - 빈칸 혹은 공백, 동일한 문자를 여러개 포함한 경우. \n - 특수 문자 1자 이상 포함하지 않았을 경우');
                return false;
            }
            return true;
        }
        $(document).ready(function() {
            $('#loginForm').on('submit', function(e) {
                if (!validateInput()) {
                    e.preventDefault();
                    return;
                }
                e.preventDefault();
                $.ajax({
                    url: '/loginPro',
                    type: 'post',
                    data: $(this).serialize(),
                    success: function(response) {
                        if(response === 'SUCCESS') {
                            // 로그인 성공 처리
                            location.replace("/");
                        } else {
                            alert('로그인 실패');
                            // 로그인 실패 처리
                            document.getElementById('mbPw').value = '';
                        }
                    }
                });
            });
        });

    </script>
</head>
<body>
<div class="header">
    <div class="brand">
        <a href="/">MUKISA</a>
    </div>
    <div class="title">
        <h2>Login Page</h2>
    </div>
</div>
<div class="main">
    <form id="loginForm">
        <div class="container">
            <label for="mbId"><b>ID</b></label>
            <input class="id_input_box" type="text" id="mbId" placeholder="Enter ID" name="mbId" required>
            <br>
            <label for="mbPw"><b>Password</b></label>
            <input class="password_input_box" type="password" id="mbPw" placeholder="Enter Password" name="mbPw" required>
            
            <button type="submit">Login</button>
        </div>
        <br>
        <div class="container_0">
            <button type="button" class="cancelbtn" onclick="resetForm()">Cancel</button>
            <span class="psw">Not a member? <a href="/signup">Sign up now</a></span>
        </div>
    </form>
    <a href="/oauth2/authorization/google">구글 로그인</a>
    <a href="/oauth2/authorization/facebook">페이스북 로그인</a>
    <a href="/oauth2/authorization/naver">네이버 로그인</a>
    <a href="/oauth2/authorization/kakao">카카오 로그인</a>
</div>

<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">Copyright &copy; MUKISA 2023</div>
        </div>
    </div>
</footer>

</div>
</body>
</html>