<!DOCTYPE html>
<!-- custom -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{header :: commonFragment}"></div>

<!-- AOS 라이브러리 추가 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css"/>

<link rel="stylesheet" type="text/css" href="css/public_settings.css">

<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

  /* 캐러셀 이미지 어둡게 처리 */
    .carousel-item img {
        filter: brightness(70%); /* 어둡게 처리하는 스타일 */
    }

    /* 캐러셀 캡션 텍스트 스타일 조정 */
    .carousel-caption {
        color: #ffffff; /* 글자 색상을 흰색으로 설정 */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* 텍스트 그림자 추가 */
    }
    }
</style>
<body class="d-flex flex-column min-vh-100">
<!-- Navigation-->

<div th:insert="~{header :: navFragment}"></div>

<!-- 캐러셀 -->
<div style="margin-top: 60px;">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <a href="/recipe">
            <div class="carousel-item active">
                <img src="img/main_01.jpg" class="d-block w-100" alt="메인 레시피" style="max-height: 600px; width: auto;">
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>블렌딩 티</h1>
                        <p>다양한 레시피를 직접 만들어 즐겨보세요.</p>
                        <p><button class="btn btn-lg btn-main" >바로가기</button></p>
                    </div>
                </div>
            </div></a>

            <a href="/china">
            <div class="carousel-item">
                <img src="img/main_02.jpg" class="d-block w-100" alt="메인 중국차" style="max-height: 600px; width: auto;">
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>중국차</h1>
                        <p>중국차에 대해 알아보세요</p>
                        <p><button class="btn btn-lg  btn-main" >바로가기</button></p>
                    </div>
                </div>
            </div></a>
            <a href="/medicine">
            <div class="carousel-item">
                <img src="img/main_03.jpg" class="d-block w-100" alt="메인 약차" style="max-height: 600px; width: auto;">
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>약차</h1>
                        <p>매일 마셔도 좋은 건강 약차</p>
                        <p><button class="btn btn-lg btn-main" >바로가기</button></p>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- 캐러셀 끝 -->


<!--공지버튼-->
<div class="row text-center">

    <div class="col">
        <a class="important-color noneline" href="/notice">
        <span class="fs-2 mb-3 d-inline-block"> <!-- d-inline-block 추가 -->
            <span class="align-middle">공지사항</span> <!-- 텍스트 정렬을 위한 추가 -->
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus-circle-fill align-middle" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
            </svg>
        </span>
        </a>
    </div>


    <div class="col text-white bg-dark">
        <a class="important-color noneline" href="/community">
        <span class="fs-2 mb-3 d-inline-block"> <!-- d-inline-block 추가 -->
            <span class="align-middle">커뮤니티</span> <!-- 텍스트 정렬을 위한 추가 -->
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus-circle-fill align-middle" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
            </svg>
        </span>
        </a>
    </div>

</div>
<!--공지버튼 끝-->

<!-- 서브배너 -->
<div class="row btn-main">
    <div class="col-md-4 btn-main p-0">

            <img src="img/main_sub1.jpg" alt="Product Image" class="img-fluid">

    </div>
    <div class="col-md-8 align-middle">
        <div class="position-relative overflow-hidden text-center btn-main">
            <div class="row fs-3 pt-3 mt-2">
                <div class="col">
                    <p>너 Tea야?에 오신 걸 환영합니다</p>
                </div>
            </div>
            <div class="row mb-3 text-start ">
                <div class="col-8 fs-5 ">
                    너 Tea야? 회원이세요? 로그인을 통해 댓글을 남겨보세요.<br>
                    너 Tea야? 회원이 아니세요? 가입을 통해 커뮤니티를 즐기세요.
                </div>
                <div class="col-4">
                    <a class="btn btn-outline-secondary" href="/login">로그인</a>
                    <a class="btn btn-outline-secondary" href="/step01">회원가입</a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- 서브끝 -->
<!--1번배너-->
<div class="row m-0" id="scroll-target">
    <!-- 이미지 컬럼 -->
    <div class="col-md-6 p-0 " data-aos="fade-right" data-aos-once="false" data-aos-anchor="#scroll-target"
         data-aos-offset="300"
         data-aos-easing="ease-in-sine">
        <img src="img/main_medicine.jpg" alt="Herbal Tea Image" class="img-fluid">
    </div>
    <!-- 텍스트 컬럼 -->
    <div class="col-md-6 p-0 bg-light text-center" data-aos="fade-left" data-aos-once="false" data-aos-anchor="#scroll-target"
         data-aos-offset="300"
         data-aos-easing="ease-in-sine">

            <div class="col-md-5 mx-auto p-0">
                <h1 class="display-4 fw-normal  mb-5 mt-5">약차</h1>
                <p class="lead fw-normal">다양한 허브와 약재를 사용한 특별한 약차를 즐겨보세요. 건강과 풍부한 맛을 동시에 경험할 수 있는 최고의 티 시간을 선사합니다.</p>
                <a class="btn btn-outline-secondary" href="/medicine">자세히 보기</a>
            </div>

    </div>
</div>
<!--배너끝-->

<!--2번배너-->
<div class="row m-0" id="scroll-target-two">
    <!-- 텍스트 컬럼 -->
    <div class="col-md-6 p-0 btn-main" data-aos="fade-right" data-aos-once="false" data-aos-anchor="#scroll-target-two"
         data-aos-offset="300"
         data-aos-easing="ease-in-sine">
        <div class=" overflow-hidden text-center btn-main d-flex align-items-center">
            <div class="col-md-5 mx-auto p-0">
                <h1 class="display-4 fw-normal  mb-5 mt-5">중국차</h1>
                <p class="lead fw-normal">아시아 전통의 맛과 향이 어우러진 중국차를 즐겨보세요. 중국의 다양한 차 문화를 경험하고, 특별한 한 모금으로 일상을 힐링하세요.</p>
                <a class="btn btn-outline-secondary" href="/china">자세히 보기</a>
            </div>
        </div>
    </div>
    <!-- 이미지 컬럼 -->
    <div class="col-md-6 p-0" data-aos="fade-left" data-aos-once="false" data-aos-anchor="#scroll-target-two"
         data-aos-offset="300"
         data-aos-easing="ease-in-sine">
        <img src="img/main_china.jpg" alt="Chinese Tea Image" class="img-fluid">
    </div>
</div>
<!--배너끝-->

<!--3번배너-->
<div class="row m-0" id="scroll-target-three">
    <!-- 이미지 컬럼 -->
    <div class="col-md-6 p-0"
         data-aos="zoom-in"
         data-aos-easing="ease-out-cubic"
         data-aos-duration="2000" data-aos-once="false">
        <img src="img/main_recipe.jpg" alt="Creative Recipe Image" class="img-fluid">
    </div>
    <!-- 텍스트 컬럼 -->
    <div class="col-md-6 p-0 bg-light text-center" data-aos="zoom-in" data-aos-once="false" data-aos-anchor="#scroll-target-three">

            <div class="col-md-5 mx-auto p-0">
                <h1 class="display-4 fw-normal mb-5 mt-5">블렌딩 티</h1>
                <p class="lead fw-normal">다양한 식재료와 특별한 기법을 활용한 응용 레시피로 요리의 새로운 세계를 경험하세요. 맛과 향의 조합으로 창의적인 레시피를 만나보세요.</p>
                <a class="btn btn-outline-secondary" href="/recipe">자세히 보기</a>
            </div>

    </div>
</div>
<!--배너끝-->


<!-- Footer-->
<div th:insert="~{footer :: footerFragment}"></div>


<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/main_scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
<!-- AOS 스크립트 추가 -->
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
<script>
  AOS.init();

</script>
</body>
</html>