<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Are you tea?</title>
    <link rel="stylesheet" type="text/css" href="css/public_settings.css">

    <style>
        :root{
            --bs-main-bg: #A4D792;
            --bs-sub-bg:#64cb3f;
            --bs-light-black:#6c757d;
        }
        .text-color{color:var(--bs-main-bg)!important;}
        .text-color2{color:var(--bs-light-black)!important;}
        .text-color2:hover{color:var(--bs-sub-bg)!important;}
        .controll-btn{border: 2px solid var(--bs-main-bg);color: white;background-color: var(--bs-main-bg);
            border-radius: 10px;
        }
        .controll-btn:hover{border: 2px solid var(--bs-main-bg);color: white;background-color: var(--bs-sub-bg);
            border-radius: 10px;
        }
        .table-color{border-bottom: 1px solid var(--bs-main-bg)!important;}
        .no-content-data{height: 500px;}
        .shadow-x{
        box-shadow: 5px 0 10px rgba(0,0,0,0.5), -5px 0 10px rgba(0,0,0,0.5);
        }
        .active{color: var(--bs-main-bg) !important;}
        .active:hover{color: var(--bs-sub-bg) !important;}
    </style>
</head>


<body id="page-top">

<!-- 헤더 -->
<div th:insert="~{/header :: commonFragment}"></div>
<div th:insert="~{/header :: navFragment}"></div>

<!-- 콘텐츠 -->
<section class="page-section public-settings shadow rounded" id="services">
    <div class="container" style="margin-bottom:60px;">

        <!-- 콘텐츠 제목 -->
        <div class="row py-5">
            <div class="col-lg-9 mx-auto text-white text-center" style="margin-left:300px;">
                <h1 class="display-5 fw-bold text-color">공지사항</h1>
            </div>

        </div>

        <!-- 검색창 -->
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <form th:action="@{notice}" method="get" class="d-flex ms-auto">
                <input class="form-control me-2" name="searchKeyword" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </nav>


        <!-- 관리자 매뉴 -->
        <button class="controll-btn" th:if="${member_role != null && member_role=='ROLE_ADMIN'}" onclick = "location.href = '/noticeWrite'">글 쓰기</button>
        <button class="controll-btn" th:if="${member_role != null && member_role=='ROLE_ADMIN'}">글 수정</button>
        <button class="controll-btn" th:if="${member_role != null && member_role=='ROLE_ADMIN'}">글 삭제</button>

        <!-- 콘텐츠 메인 데이터-->
        <table class="table border-color">
            <!-- 콘텐츠 부제목 -->
            <thead>
            <tr>
                <th class="table-color text-color fw-bold" scope="col">번호</th>
                <th class="table-color text-color fw-bold" scope="col">제목</th>
                <th class="table-color text-color fw-bold" scope="col">작성자</th>
                <th class="table-color text-color fw-bold" scope="col">작성일</th>
                <th class="table-color text-color fw-bold" scope="col">조회수</th>
            </tr>
            </thead>


            <!-- 콘텐츠 데이터 -->
            <tbody>
            <!-- 만약(if) 데이터를 DB 서버에서 가져오지 못하면 [콘텐츠 없음] 표시 -->
            <tr class="no-content-data" th:if="${list == null}">
                <td colspan="5" class="text-center align-middle table-color">
                    <h1 class="text-color">콘텐츠 없음</h1>
                    <h3 class="text-color">(데이터를 추가 해주세요)</h3>
                </td>
            </tr>

            <!-- 만약(if) 데이터를 DB 서버에서 가져오면 [데이터 표시] -->
            <tr th:if="${list  != null}" th:each="noticeEntity  : ${list}">
                <!-- 게시판 번호 -->
                <td th:text="${noticeEntity.noNo}" scope="row">1</td>

                <!-- 글 제목 -->
                <!-- communityview로 보내줄건데 boNo를 담아서 보내줄거다 -->
                <!-- boNo는 뭐냐면 communityEntity의 boNo -->
                <td>
                    <a th:text="${noticeEntity.noTitle}" th:href="@{/noticeView(noNo=${noticeEntity.noNo})}"></a>
                </td>
                <!-- 작성자 -->
                <td th:text="${noticeEntity.noId}"></td>
                <!-- 작성일 -->
                <td th:text="${#temporals.format(noticeEntity .noDate, 'yyyy-MM-dd')}"></td>

                <!-- 조회수 -->
                <td th:text="${noticeEntity .noHits}"></td>
            </tr>
            </tbody>

        </table>


        <!--페이징 처리 -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">

                <!-- 뒷 페이지로 가기 버튼 -->
                <!-- 이미 최소 페이지인 경우 -->
                <li class="page-item" th:if="${nowPage} == 0">
                    <a class="page-link text-color2" th:href="@{#}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <!-- 이전 페이지로 가기 -->
                <li class="page-item" th:if="${nowPage} > 0">
                    <a class="page-link text-color2" th:href="@{notice(page = ${nowPage - 1})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>



                <!-- 페이징 개수 버튼들 -->
                <!-- 페이징이 필요 없는 경우 -->
                <th:block th:if="${data_count} <= 1"  th:each="page : ${#numbers.sequence(startPage, endPage)}">
                    <li class="page-item">
                        <a class="page-link text-color2" th:class="${page == nowPage ? 'page-link active' : 'text-color2'}"
                           th:href="@{#}" th:text="${page}"></a>
                    </li>
                </th:block>

                <!-- 페이지 1페이지 이상일 경우 -->
                <th:block th:if="${data_count} > 1"  th:each="page : ${#numbers.sequence(startPage, endPage)}">
                    <li class="page-item" >
                        <a class="page-link text-color2" th:class="${page == nowPage ? 'page-link active' : 'page-link text-color2'}"
                           th:href="@{notice(page = ${page}, searchKeyword = ${param.searchKeyword})}" th:text="${page}"></a>
                    </li>
                </th:block>


                <!-- 앞 페이지로 가기 버튼 -->
                <!-- 페이징이 필요 있는 경우, 데이터가 20개가 넘어서 페이징 되는 경우 -->
                <li class="page-item" th:if="${data_count} > 0  and ${nowPage} != ${endPage}">
                    <a class="page-link text-color2" th:href="@{notice(page = ${nowPage + 1})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <!-- 페이징이 필요 없는 경우 -->
                <li class="page-item" th:if="${nowPage} == ${endPage}">
                    <a class="page-link text-color2" th:href="@{#}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>

            </ul>
        </nav>

    </div>
</section>

<!-- 푸터 -->
<div th:insert="~{/footer :: footerFragment}"></div>

<!--스크립트 로딩-->
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/main_scripts.js"></script>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

</body>

</html>
