<!DOCTYPE html>
<!-- custom -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{/header :: commonFragment}"></div>
<!-- Navigation-->
<div th:insert="~{/header :: navFragment}"></div>
<body id="page-top">


<section class="page-section" id="services">
    <div class="container" style="margin-bottom:60px;">
        <!-- For demo purpose -->
        <div class="row py-5">
            <div class="col-lg-9 mx-auto text-white text-center" style="margin-left:300px;" >
                <h1 class="display-4" style="color:black !important; margin-left:20px;">세계의 티</h1>
            </div>
        </div>

<div class="container w-75 p-3 ">

    <table class="table mb-5 " >
        <thead>
        <tr>
            <th colspan="2">00나라의 티 생산 현황</th>
            <th>  수확기 :</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">세계 티 생산량에서 점유율</th>
            <td ><h1>100.0% </h1></td>
            <td>여기에 수확기 데이터 불러오기</td>

        </tr>
        <tr>
            <th scope="row">주요 티 종류</th>
            <td>발로 차, 또 차, 계속 차</td>
            <th scope="row">해발고도:</th>
        </tr>
        <tr>
            <th scope="row">유명 사항</th>
            <td>이게 유명하다함 ㅇㅇ</td>
            <td >높음 낮음 중간 등</td>
        </tr>
        </tbody>
    </table>


    <table class="table mb-5" >
        <thead>
        <tr>
            <th colspan="2">00나라의 티 생산 현황</th>
            <th>  수확기 :</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">세계 티 생산량에서 점유율</th>
            <td ><h1>100.0% </h1></td>
            <td>여기에 수확기 데이터 불러오기</td>

        </tr>
        <tr>
            <th scope="row">주요 티 종류</th>
            <td>발로 차, 또 차, 계속 차</td>
            <th scope="row">해발고도:</th>
        </tr>
        <tr>
            <th scope="row">유명 사항</th>
            <td>이게 유명하다함 ㅇㅇ</td>
            <td >높음 낮음 중간 등</td>
        </tr>
        </tbody>
    </table>
</div>
</section>





<!-- Footer-->
<div th:insert="~{/footer :: footerFragment}"></div>


<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/main_scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>